/* Full Page Styling */
.user-dashboard-container {
  background-color: #0f172a; /* Dark navy */
  min-height: 100vh;
  padding: 40px;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Logout Button */
.back-btn {
  background: #1e293b;
  color: #e2e8f0;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-btn:hover {
  background: #334155;
}

.back-icon {
  font-size: 18px;
}

/* Header */
.header {
  margin-top: 20px;
  text-align: left;
}

.header h1 {
  font-size: 34px;
  font-weight: 600;
}

.header p {
  margin-top: 5px;
  color: #94a3b8;
  font-size: 16px;
}

/* Card Layout */
.card-grid {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/* Individual Cards */
.dashboard-card {
  background: #1e293b;
  padding: 25px;
  width: 300px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #2c364a;
}

.dashboard-card:hover {
  background: #293548;
  transform: translateY(-3px);
}

/* Card Content */
.dashboard-card h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.dashboard-card p {
  color: #b9c4d4;
  font-size: 14px;
  margin-top: 5px;
}

/* Icons */
.icon {
  font-size: 34px;
  color: #38bdf8; /* Cyan */
}
